:root {
  --clr-primary: #fffffc;
  --clr-secondary: #00b4d8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color: #6c757d;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

h2,
h3,
h4 {
  color: #333;
  line-height: calc(1ex / 0.42);
}

button {
  appearance: none;
  cursor: pointer;
  background-color: inherit;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
    'sidebar header'
    'sidebar dashboard';
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  background-color: var(--clr-secondary);
  color: var(--clr-primary);
  display: grid;
  gap: 3rem;
  grid-area: sidebar;
  grid-template-rows: repeat(3, max-content);
  padding: 1.5rem;

  & h1 {
    font-size: 1.5rem;
  }
}

.logo,
ul,
li {
  display: grid;
  align-items: center;
}

ul {
  gap: 1rem;

  & img {
    transition: scale 300ms ease;

    &:hover {
      cursor: pointer;
      scale: 1.1;
    }
  }
}

.logo,
li {
  gap: 2rem;
  grid-template-columns: repeat(2, max-content);
}

.logo {
  cursor: pointer;
  gap: 0.5rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  transition: scale 300ms ease;

  &:link,
  &:visited {
    color: var(--clr-primary);
  }

  &:hover {
    scale: 1.05;
  }
}

/* HEADER */
header {
  grid-area: header;
  padding: 1rem 2rem;
}

.first-row,
.second-row {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;

  & > div:last-child {
    display: flex;
    align-items: center;
    gap: clamp(0.5rem, 1.42vw, 1.25rem);
  }
}

.first-row {
  margin-bottom: 1rem;

  .search {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  & h2 {
    font-size: clamp(0.5rem, 1.13vw, 1rem);
  }
}

.second-row {
  & p {
    color: #333;
    font-size: clamp(0.6rem, 0.85vw, 0.75rem);
    font-weight: bold;
  }

  & h2 {
    font-size: clamp(1rem, 1.7vw, 1.5rem);
  }

  .profile-pic {
    height: clamp(40px, 3.4vw, 60px);
    width: clamp(40px, 3.4vw, 60px);
  }
}

.profile {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, max-content);
}

.profile-pic {
  background-color: #fcbf49;
  border-radius: 50%;
  height: clamp(30px, 2.84vw, 50px);
  width: clamp(30px, 2.84vw, 50px);
}

.btn {
  background-color: var(--clr-secondary);
  border-radius: clamp(15px, 1.13vw, 20px);
  color: var(--clr-primary);
  font-size: clamp(0.7rem, 0.9vw, 0.8rem);
  padding: clamp(0.4rem, 0.6vw, 0.5rem) clamp(1rem, 1.8vw, 1.5rem);
}

/* DASHBOARD */
.dashboard {
  background-color: #edf2fb;
  display: grid;
  gap: 1rem;
  grid-area: dashboard;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 'projects announcements-and-trending';
  padding: 1rem 1rem 0;

  & > div:first-child {
    grid-area: projects;
  }

  & > div:last-child {
    display: grid;
    gap: 1rem;
    grid-area: announcements-and-trending;
    grid-template-rows: repeat(2, max-content);
    grid-template-areas:
      'announcements'
      'trends';
  }
}

h3 {
  margin-bottom: 1rem;
}

.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(3, 1fr);

  & h4,
  p {
    line-height: calc(1ex / 0.42);
  }
}

.project {
  background-color: var(--clr-primary);
  border-left: 10px solid #fcbf49;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;

  .interaction {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
}

.announcements > div,
.trends > div {
  background-color: var(--clr-primary);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
}

.announcements {
  grid-area: announcements;

  .announcement {
    &:not(:last-child) {
      border-bottom: 1px solid #6c757d;
      padding-bottom: 1rem;
    }

    &:not(:first-child) {
      padding-top: 1rem;
    }
  }

  & h4,
  & p {
    line-height: calc(1ex / 0.42);
  }

  & p {
    font-size: 0.8rem;
  }
}

.trends {
  grid-area: trends;

  & > div {
    gap: 1rem;
  }

  .profile {
    & span:last-child {
      font-size: 0.8rem;
    }

    .tegan {
      background-color: #56cfe1;
    }

    &:nth-child(3) .profile-pic {
      background-color: #b6dcfe;
    }

    &:last-child .profile-pic {
      background-color: #dec5e3;
    }
  }
}
